<h1><%= @article.title%> </h1>
<p><%=@article.body %></p></br>
<p><i>Written: <%= @article.created_at %></i></p>
<p><i>Last updated at: <%= @article.updated_at %></i></p>
<p><%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete this article?"} %>
</p>
<p><%= link_to "<< Back to Articles List", articles_path %></p>